h3 {
    font-size: 30px;
    color: #fff;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #F9F4ED 0%, #F3DEC1 100%);
    margin: 0px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 0px 91px 18px rgba(255, 235, 206, 0.24);
    padding: 20px 40px 20px 40px;
    position: sticky;
    top: 0;
}

@media (max-width: 1201px) {
    header {
        flex-flow: column;
        max-width: 100%;
        padding: 10px 10px 10px 10px;
        justify-content: center;
        gap: 10px;
    }
}

#nav-bar {
    display: flex;
    flex-flow: row;
    column-gap: 25px;
    justify-content: flex-end;
}

@media (max-width: 1201px) {
    #nav-bar {
        display: flex;
        flex-flow: row;
        column-gap: 10px;
        justify-content: space-between;
    }
}
.nav-link {
    color: #8E5227;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

@media (max-width: 1201px) {
    .nav-link {
    font-size: 20px; 
    }
}


.nav-link:hover {
    color: #6A360D;
}

#header-img {
    max-width: 350px;
    height: auto;
    align-self: center;
}

@media (max-width: 1201px) {
    #header-img {
        flex-flow: row wrap;
        max-width: 180px; 
    }
}

#featured-drinks, #process {
    text-transform: uppercase;
    text-align: center;
    color: #6A360D;
    padding: 0px 0px 50px 0px;
    margin: 0px;
}

#section1 {
    padding: 100px 0px 50px 0px;
}

#section2 {
    padding: 50px 0px 100px 0px;
}

#img-row {
    justify-content: center;
    display: flex;
    flex-flow: row;
    column-gap: 15px;
}

#macchiato, #cappuccino, #iced-latte, #espresso {
    max-width: 300px;
}

.drink-items {
    display: flex;
    flex-flow: column;
}

.drink-label {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #8E5227;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}

#video-section {
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    height: 300px;
    position: static;
    background-image: url("images/footer-img3.jpg");
    background-size: 100% auto;
    margin: 0px;
    
}
 
/* .footer-img {
    flex: 2 0 0;
    min-width: 100%;
    min-height: 100%; 
    position: fixed;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
    z-index: 1;
}
*/
.footer-overlay {
    background: rgba(130, 114, 96, 0.65);
    overflow: hidden;
    height: 100%;
    /* z-index: 2; */
    display: flex;
    align-items: center;
    justify-content: center;
} 

#newsletter {
    display: flex;
    flex-flow: row;
    column-gap: 50px;
    align-items: center;
}

/* #signup-text {
    
} */

#form {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    width: 50%;
}

.name-form, .email-form {
    display: flex;
    flex-flow: column;
    text-align: left;
    color: #fff;
    row-gap: 5px;
}

#name, #email {
    width: 100%;
    height: 40px;
    border: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

#name-label, #email-label {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

#submit {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 5px 0px 5px 0px;
    border: 0px;
    align-items: center;
    transition-duration: 0.4s;
}

#submit:hover {
    background-color: rgba(255, 235, 206);
    color: #6A360D;

}